* {
    background-color: black;
}
#logo {
    text-align: center;
}
body {
    padding: 5% 5%;
    position: relative;
}
#buttons, #points {
    padding-top: 5%;
    text-align: center;
}
#query {
    height: 7%;
    width: 100%;
    
}
input, #search-button {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
input, select, textarea {
    color: rgb(158, 155, 155);
    text-align: center;
    font-family:fantasy;
    letter-spacing: 2px;
}
*:focus {
    outline: none;
}
input::placeholder {
    font-size: larger;
    color: rgb(158, 155, 155);
    text-align: center;
    text-transform: uppercase;
    font-family:fantasy;
    letter-spacing: 2px;
}
#start-img {
    width: 60%;
    height: 80%;
    cursor: pointer;
}
#thumb-container {
    display: flex;
    justify-content: space-around;

    position: relative;
}
#thumb-container img {
    cursor: pointer;
}
.blur {
    filter: blur(5px);
}
.correct1 {
    position:absolute;
    top: 0px;
    left: 35px;
    width: 70%;
    height: 70%;
    z-index: 100;
    background: transparent url(imgs/check2.png) no-repeat;
}
.correct2 {
    position:absolute;
    top: 0px;
    left: 600px;
    width: 70%;
    height: 70%;
    z-index: 100;
    background: transparent url(imgs/check2.png) no-repeat;
}
.correct3 {
    position:absolute;
    top: 0px;
    left: 1170px;
    width: 70%;
    height: 70%;
    z-index: 100;
    background: transparent url(imgs/check2.png) no-repeat;
}
.wrong1 {
    position:absolute;
    top: 0px;
    left: 35px;
    width: 70%;
    height: 70%;
    z-index: 100;
    background: transparent url(imgs/x3.png) no-repeat;
}
.wrong2 {
    position:absolute;
    top: 0px;
    left: 600px;
    width: 70%;
    height: 70%;
    z-index: 100;
    background: transparent url(imgs/x3.png) no-repeat;
}
.wrong3 {
    position:absolute;
    top: 0px;
    left: 1170px;
    width: 70%;
    height: 70%;
    z-index: 100;
    background: transparent url(imgs/x3.png) no-repeat;
}