* {
    background-color: black;
}
#logo {
    text-align: center;
}
body {
    padding: 5% 5%;
    position: relative;
}
#buttons {
    padding-top: 5%;
    text-align: center;
}
#query {
    height: 7%;
    width: 100%;
    
}
input, #search-button {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
input, select, textarea {
    color: rgb(158, 155, 155);
    text-align: center;
    font-family:fantasy;
    letter-spacing: 2px;
}
*:focus {
    outline: none;
}
input::placeholder {
    color: rgb(158, 155, 155);
    text-align: center;
    text-transform: uppercase;
    font-family:fantasy;
    letter-spacing: 2px;
}
#start-img {
    width: 60%;
    height: 80%;
    cursor: pointer;
}
#thumb-container {
    display: flex;
    justify-content: space-around;
}
#thumb-container img {
    cursor: pointer;
}

.blur {
    filter: blur(5px);
}

.correct1 {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    z-index: 1;
}